main{
     text-align: center;
}

.cover-container figure img {
     width: 100%;
}

@media screen and (min-width:992px) {
    
    .cover-container{
     width: 40%;
    }
    
     .cover-container,
     .section-video{
          display: inline-block;
     }
}